<!DOCTYPE html>
<html>
<head>
	<title></title>
{% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


 
</head>


<body class = "booking-page">
{% include 'public_header.html' %}
<div class="container">

    {% load widget_tweaks %}
    <div class="row">
        <div class = "booking book-info col-md-3" >
            <form id ="reservation-form" action="" method="post" data-ajax-target="{% url 'create_reservation' %}">
                {% csrf_token %}

                {% for field in reservation_form %}
                  <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endfor %}

                <p><button type="submit" value="Submit" class="book-button btn btn-primary">Confirm Booking</button></p>
            </form>
        </div>

        {% for room in room_type %}

        <div class = "booking room_details col-md-offset-1 col-md-7" id = "{{room.room_type_id}}">
           

            <h1 class="cursive capitalize center page-header"> {{room.type_name}}</h1> 

            {% if room.image %}
            <img style="max-width: 100%; max-height: 100%; object-fit: contain;" src = "{{ room.image.url }}"/>
            {% endif %}

            <p><h2 class="cursive"> &#8369; {{room.price}} per night </h2></p>
            <p class="justify indent">{{room.details}}</p>

        </div>

    {% endfor %}

    </div>
</div>

<div class="modal fade" id="modal-reserve">
    <div class="modal-dialog">
      <div class="modal-content" >

      </div>
    </div>
  </div>



{% include 'footer.html' %}




<!-- {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %} -->
<!--  <script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}"; </script> -->
<script src="{% static 'js/app.js' %}"></script>


<script>
    function init(){
        room = document.getElementById("id_room_id").value
        document.getElementById(room).style.display = "block";
    }

    window.onload = function() {
        init();
    };  
    function showRoom(value){
        hideDivs = document.getElementsByClassName("room_details");
        for(var i = 0; i < hideDivs.length; i++){
            hideDivs[i].style.display = "none"; 
    }

    document.getElementById(value).style.display = "block";
    $("#"+value).css({
    "opacity":"0",
    "display":"block",
        }).show().animate({opacity:1})

    



}
</script>



</body>
</html>

