<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/staff/login/">Hotel Admin</a>
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li{% if request.path == '/staff/reservation-list/' %} class="active"{% endif %}>
          <a href="{% url 'reservation_list' %}">Reservations</a>
        </li>
         <li{% if request.path == '/staff/roomtype-list/' %} class="active"{% endif %}>
          <a href="{% url 'roomtype_list' %}">Room Types</a>
        </li>
         <li{% if request.path == '/staff/room-list/' %} class="active"{% endif %}>
          <a href="{% url 'room_list' %}">Rooms</a>
        </li>
        {% if user.is_authenticated %}
        <li>
             <a> Welcome,  {{ user.username }}!</a>

               
        </li>
        <li>
          <a href= {% url 'admin_logout' %}> Log out</a>
           
        </li>{% endif %}
      </ul>
    </div>
  </div>
</nav>