{% for reservation in reservations %}
  <tr>
    <td>{{ reservation.reservation_id }}</td>
    <td>{{ reservation.first_name }}</td>
    <td>{{ reservation.last_name }}</td>
    <td>{{ reservation.client_email }}</td>
    <td>{{ reservation.client_phone }}</td>
    <td>{{ reservation.room_id.room_type_id }}</td>
    <td>{{ reservation.room_id.room_num }}</td>
    <td>{{ reservation.date_in }}</td>
    <td>{{ reservation.date_out }}</td>
    <!-- <td>{{ reservation.price }}</td> -->
    <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-reserve"
              data-url="{% url 'edit_reservation' reservation_id=reservation.reservation_id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-reserve"
              data-url="{% url 'delete_reservation' reservation_id=reservation.reservation_id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No book</td>
  </tr>
{% endfor %}