{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
       <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </head>
  <body>
    {% include 'admin/base/header.html' %}

 
    <div class="container">

      {% block content %}
         <div class="jumbotron">
          <h1>Hello, {{ user.username}}</h1>
        </div>

        <h1>Admin Features</h1>
        <div class="features">
          <h3>Reservation</h3>
          <ul>

            <li>View All Reservations</li>
            <li>Edit Reservations</li>
            <li>Delete Reservations</li>
            <li>Search Reservations</li>
          </ul>
          <h3>Room Types</h3>
          <ul>

            <li>View All Room Types</li>
            <li>Edit Room Types</li>
            <li>Delete Room Types</li>
            <li>Search Room Types</li>
            <li>Create Room Types</li>
            <li>Upload Room Type Images</li>

          </ul>
             <h3>Rooms</h3>
          <ul>

            <li>View All Rooms</li>
            <li>Edit Rooms</li>
            <li>Delete Rooms</li>
            <li>Search Rooms</li>
            <li>Create Rooms</li>
            
          </ul>
        </div>
      {% endblock %}
    </div>
 
   

    <script src="{% static 'js/app.js' %}"></script>
    <script>
      {% if isValid == "yes" %}
      toastr.success('Successfully Logged-in');
      {% endif %}
    </script>
  

  </body>
</html>