<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<style type="text/css">
	body{

		background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("{% static 'img/admin.jpg' %}");
		background-size: cover;
	}
	button{
		text-align: center;

	}
</style>
</head>
<body>

{% include 'public_user/base/public_header.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="admin-login ">
	<div class="login-form">
	  <h2>Admin Login</h2>
	  <br><br>
	  <form method="post">
	    {% csrf_token %}
	    {% for field in form %}
	  	<div class="form-group{% if field.errors %} has-error{% endif %}">
	    	<label for="{{ field.id_for_label }}">{{ field.label }}</label>
	    {% render_field field class="form-control" %}
	    {% for error in field.errors %}
	      <p class="help-block">{{ error }}</p>
	    {% endfor %}
	  </div>
	{% endfor %}
	    <p><button type="submit" class="user btn btn-primary">Login</button></p>
	  </form>
	{% endblock %}
	</div>
</div>
<br><br><br><br>

{% include 'public_user/base/footer.html' %}
<script src="{% static 'js/app.js' %}"></script>
<script type="text/javascript">
	
	
	{%  if isValid == "no" %}
	toastr.error('Invalid Credentials');
	{% endif %}
</script>


</body>
</html>


