.room_details{

	display:none;
}

.ui-widget {
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 1em;
}
.ui-widget-content {
    /*background: #feeebd url("/themeroller/images/ui-bg_highlight-soft_100_feeebd_1x100.png") repeat-x scroll 50% top;*/
    background-color: orange;
    border: 1px solid #8e846b;
    color: #383838;
}
.ui-widget-content a {
    color: #383838;
}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
    color: #381f00;
    text-decoration: none;
}

}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #0074c7;
    text-decoration: none;