@font-face {
  font-family: 'bs';
  src: local('bs'),
       url('/static/fonts/bs.ttf') format("truetype");
}
@font-face {
  font-family: 'dm-reg';
  src: local('dm-reg'),
       url('/static/fonts/dm-reg.ttf') format("truetype");
}
@font-face {
  font-family: 'dm-med';
  src: local('dm-med'),
       url('/static/fonts/dm-med.ttf') format("truetype");
}

footer{
    background-color: black;
    color: white;
}

body{
    overflow-x: hidden;
    font-family: 'dm-reg';
}
.capitalize{
    text-transform: capitalize;
}
.center{
    text-align: center;
}
.booking-page{
   /* background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/static/img/banner.jpg");
    background-size: cover;*/
    background-color: #DCD2C6;
    /*color: black;*/
}
.admin-login{
    display: flex;
    height: 80vh;
    background-color: transparent;
    /*position: absolute;*/
}
.cursive{
    font-family: 'bs';
}
/*#logo {
transform: scaleX(0) scaleY(0);
}*/
.animate {
  transition: all 2s;
  transform: scale(1.5);
}
.animate-quote{
 transition: all 2s;
transform: translateX(25px);
}
.login-form{
    margin: auto;
    width: 35%;
    background-color:rgba(255, 255, 255, 0.05);
    border: solid 1px white;
    padding: 10vh;
    /*text-align: center;*/
    color: white;
    border-radius: 20px;
    font-weight: lighter;
    /*top:50%;*/
    /*position: relative;*/
}
#greet{
    font-style: italic;
    margin-left: 20px;

}
.white-block{
   height:50vh;
   background-color:white;
   font-size:36px;
   margin-top: 5vh;
}
#banner{
   
    display: flex;

     
}
#banner1{
    background-image: url('/static/img/bg1.png');
    width: 100%;
    height: 100vh;
    /*background-size: cover;*/
    display: flex;
    margin-top: -10vh;
      background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner2{
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45) ), url('/static/img/bg2.png');
    width: 100%;
    height: 65vh;
    /*background-size: cover;*/
    display: flex;
    margin-top: -10vh;
      background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: 14px 0px;*/
}
/*.navbar {
    position: relative;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform:translateX(-50%) !important;  
    display: block;
}
*/
.white{
  color: white !important;
}
.active a{
  color: black !important;
}
#banner-text{
    margin: auto;
    padding-right: 25px;
    text-align:center;
}

#thanks{
    margin: auto;
    padding: 40px;
    text-align:center;
}
#thanks img{
     height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    margin-bottom: 10vh;
}


#banner-text img{
     height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    margin-bottom: 10vh;
}

.navbar-default{
     background-color: #ae8b71;
     color: white;
     border: 0;
}
.navbar-default .navbar-brand{
    color: white;
}

.sand{
    color: #DCD2C6;
}

.login-form h2{
    text-align: center;
}

.login-form p{
    text-align: center;
}
.user {
  color: #ffffff;
  background-color: transparent;
  border-color: white;
  transition: 0.3s;
}
/*.reservation-form p {
    text-align: center;
}*/

.book-button {
  color: #ffffff;
  background-color: #493743;
  border-color: white;
  transition: 0.3s;
  text-align: center;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #ae8b71;
  border-color: #ae8b71;
}


body{margin:0; padding:0;}


.booking{
    background-color: white;
    border: 1px solid white;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    padding: 20px;
    color: black;
    border-radius: 20px;
    margin-bottom: 20vh;
}

.book-info p{
    text-align: center;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.justify{
    text-align: justify;
}
.indent{
    text-indent: 50px;
}

.room_details{

	display:none;
    height: auto;
}

.ui-datepicker-unselectable .ui-state-default {
    background: lightgrey;
    border-radius: 50px;
    padding: 4px;
    color: gray;
    opacity: 0.3;
    pointer-events: none;
}
.ui-widget {
    font-family:'dm-reg';
    font-size: 1.3em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'dm-med';
    font-size: 1em;
}
.ui-widget-content {
    /*background: #feeebd url("/themeroller/images/ui-bg_highlight-soft_100_feeebd_1x100.png") repeat-x scroll 50% top;*/
    background-color:#DCD2C6;
    border-radius: 10px;
    padding: 5px;
    line-height: 1.7;
    border: 1px solid white;
    color: #383838;
    text-align: center;
   
}
.ui-widget-content a {
    color: #383838;
}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
    color: #381f00;
    text-decoration: none;
}



/*.ui-state-active a{
    color: #0074c7;
    background-color: #F1A17E;
    text-decoration: none;
}*/

.ui-datepicker-current-day
{
    border-radius: 50px;
    color: white;
    background-color: #F1A17E;
    text-decoration: none;
}
.ui-state-default{
   
    transition: 0.3s;


}


#ui-datepicker-div {display: none;}
.ui-datepicker-next:hover,.ui-datepicker-prev:hover, .ui-state-default:hover{
    opacity: 0.5;
    border-radius: 50px;
    color: white;
    background-color: #F1A17E;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer; 

}
/*
#ui-datepicker-div tr td:hover ,#ui-datepicker-div tr td > .ui-state-default.ui-state-hover,.ui-datepicker-current-day{
background-color:#F4777C !important;
color:#fff !important;
text-align:center !important;
}*/