{% extends 'admin/base/admin_base.html' %}

{% load static %}

{% block javascript %}

<!--   <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js">
  </script> -->
  


{% endblock %}

{% block content %}
  <h1 class="page-header">Room Types</h1>

  <p>
    <button type="button" class="btn btn-primary js-create-reserve" data-url="{% url 'create_roomtype' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New Room Type
    </button>
  </p>

  <div class="input-group input-group-md search">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text"  id="searchInput" class="form-control search" placeholder="Type to Filter" aria-describedby="sizing-addon1">
  </div>

  <table class="table" id="reserve-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Type Name</th>
        <th>Price</th>
        <th>Details</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody id="data-list">
     {% include 'admin/roomtype/view_roomtype_list.html' %}
    </tbody>
  </table>
  
  <div class="modal fade" id="modal-reserve">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

   
{% endblock %}